.mat-card {
    margin-top: 20px;
    max-width: 400px;
    text-align: -webkit-center;
    top: 10%;
    margin-left: 33%
}
.mat-form-full{
    width:100%;
}
.mat-raised-button {
    width: -webkit-fill-available;
}

.mat-form{
    text-align-last: start;
}
.point{
    cursor: pointer;
}