<div *ngIf="estadoCompra===true && role ==='comprador'">
    <app-no-permission></app-no-permission>
</div>
<div class="secciones" *ngIf="estadoCompra===false || role ==='administrador'">
<div class="contenedor">
<p-carousel  [value]="imagenes" [numVisible]="1" [numScroll]="1" [circular]="true" >
  <ng-template pTemplate="item" let-imagenes>
      <img src="{{imagenes.imagen}}" style="width: 100%"/>
  </ng-template>
</p-carousel>
<br>
<mat-divider></mat-divider>
<br>
<div class="propiedades">
  <h1>Caracteristicas del vehiculo</h1>
<p><mat-icon>calendar_today</mat-icon> Modelo: {{modelo}}</p>
<p><mat-icon> directions_bus</mat-icon> Carroceria: {{carroseria}}</p>
<p><mat-icon>shutter_speed</mat-icon> Kilometraje: {{kilometraje|number}}Km</p>
<p><mat-icon> money</mat-icon> Placa: {{placa}}</p>
<p><mat-icon> attach_money</mat-icon> Precio: {{precio| currency: 'USD' : 'symbol' : '1.0-0'}}</p>
<p><mat-icon>color_lens</mat-icon> Color: plateado</p>

</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="descripcion">
  <h1>Descripción</h1>
<p class="pDescripcion">{{descripcion}}</p>


</div>
<br>
<mat-divider></mat-divider>
<br>
<div *ngIf="role==='comprador'">
  <h1>Contacta al particular</h1>
<form  [formGroup]="messageForm" (ngSubmit)="Message()">
  <table class="example-full-width" cellspacing="5"><tr>
    <td>
      <mat-form-field class="mat-form-full">
          <mat-label>
              Nombre
          </mat-label>
          <input type="text" formControlName="nombre" matInput placeholder="Nombre">
      </mat-form-field>
  </td>
  <td>
      <mat-form-field class="mat-form-full">
          <mat-label>
               apellido
          </mat-label>
          <input type="text" formControlName="apellido" matInput placeholder="Apellido">
      </mat-form-field>
  </td>
  </tr></table>
  <table class="example-full-width" cellspacing="5"><tr>
    <td>
      <mat-form-field class="mat-form-full">
          <mat-label>
               E-Mail
          </mat-label>
          <input type="text" formControlName="email" matInput placeholder="Email">
      </mat-form-field>
  </td>
  <td>
      <mat-form-field class="mat-form-full">
          <mat-label>
               Telefono
          </mat-label>
          <input type="text" formControlName="telefono" matInput placeholder="Telefono">
      </mat-form-field>
  </td>
  </tr>
</table>
<mat-form-field class="mat-form-full">
  <mat-label>
      Pregunta
  </mat-label>
  <textarea style="height: 70px;" type="text" formControlName="pregunta" matInput placeholder="Comente aqui!"></textarea>
</mat-form-field>
<br>
<div>
  <button type="submit" [disabled]="!messageForm.valid"  mat-raised-button color="primary">Preguntar</button>
</div>
</form>
<br>
<br>
</div>

<div *ngIf="aprovacion === false && role ==='administrador'">
<h1>¿DESEA APROVAR ESTA PUBLICACION?</h1>
<button mat-raised-button color="primary" (click)="openDialog(idVehicle)">Confirmar</button>
</div> 
</div>

<div>

<mat-card class="cardPrecio">
  <mat-card-header class="headerPrecio">
    <mat-card-title-group>
      <mat-card-subtitle>publicado el {{fecha | date}}</mat-card-subtitle>
      <br>
      <mat-card-title>{{marca}} {{linea}}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <h1 class="h1Precio">{{precio | currency: 'USD' : 'symbol' : '1.0-0'}}</h1>
  </mat-card-content>
  <mat-card-actions style="display: flex; flex-direction: column;">
    <button mat-raised-button color="primary" (click)="createPdf()">Descargar Cotización</button> 
    <br>
   
    <div *ngIf="role==='comprador'"><ngx-paypal [config]="payPalConfig"></ngx-paypal></div>
    
  </mat-card-actions>

</mat-card>  
<br>
<mat-card class="cardVendedor">
  <mat-card-header class="headerVendedor">
    <mat-card-title-group>
      <mat-card-title>Informacion del vendedor</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <h1 class="h1Vendedor">{{nombre}} {{apellido}}</h1>
    <h2><mat-icon> local_phone</mat-icon> Telefono</h2>
    <p class="pVendedor">{{telefono}}</p>
    <h2><mat-icon> location_on</mat-icon> Dirección</h2>
    <p class="pVendedor">{{direccion}}</p>
    <h2><mat-icon> email</mat-icon> Correo electronico</h2>
    <p class="pVendedor">{{correo}}</p>
    <h2>Foto</h2>
    <p-avatar image={{imagen}} styleClass="mr-2" size="large" shape="circle"></p-avatar>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h1>Consejos de seguridad</h1>
    <ul>
      <li>Desde este sitio web, nunca te pediremos contraseñas, PIN o códigos de verificación a través de WhatsApp, teléfono, SMS o email.</li><br>
      <li>No uses servicios de pago anónimos (por ej. Western Union), ni envíes dinero al exterior.</li><br>
      <li>Cuídate si mencionan ventas rápidas por mudanza.</li><br>
      <li>No pagues sin verificar personalmente la documentación y el estado del vehículo.</li><br>
      <li>Desconfía de ofertas debajo del precio de mercado.</li><br>
      <li>Compra y venta de carros y sus afiliadas no tienen vehículos bajo su custodia.</li><br>
    </ul>
  </mat-card-content>

</mat-card>
</div>
</div> 
