<div class="carousel">
    <br>
    <h1 style="font-family: cursive;
    font-size: xx-large; width: -webkit-fill-available; text-align: center;">COMPRA Y VENTA DE AUTOS</h1>
 
    <p-carousel [value]="carousel" [numVisible]="1" [numScroll]="1" [circular]="true">
        <ng-template let-carousel pTemplate="item">
            <div class="">
                <img src="{{carousel.imagen}}" style="width: 100%; height: 500px;" alt="">
            </div>
        </ng-template>
    </p-carousel>
</div> 
<br>
<div class="cards">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Compra Autos</mat-card-subtitle>
          <mat-card-title>ofertas disponibles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>¡Descubre la revolución en la compra de automóviles con nuestra nueva aplicación! 🚗✨</p>
          <p>🌟 ¿Cansado de recorrer concesionarios sin encontrar el coche de tus sueños? Con nuestra aplicación, ¡eso es cosa del pasado! Explora una amplia gama de automóviles de manera fácil y conveniente desde la palma de tu mano.</p>

            <p> 🔍 Busca, compara y elige entre una selección única de vehículos, ¡todos a tu alcance con solo deslizar el dedo! Nuestra aplicación ofrece información detallada, fotos de alta calidad y opiniones de otros usuarios para que tomes decisiones informadas.</p>
            
              <p> 🌐 Navega por nuestro inventario virtual, programa pruebas de manejo con un solo clic y lleva tu experiencia de compra de automóviles al siguiente nivel.</p>
            
              <p>¡No pierdas más tiempo! entra a la pagina web ahora y déjanos llevarte a tu próximo viaje sobre ruedas. La forma más inteligente y fácil de comprar automóviles es solo un toque de distancia.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
      
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Vende autos</mat-card-subtitle>
          <mat-card-title>Publica tu oferta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <p>¡Da el siguiente paso en la venta de tu automóvil con nuestra aplicación innovadora! 🚗💰</p>

            <p>🌟 ¿Tienes un automóvil que merece un nuevo hogar? Con nuestra aplicación, venderlo es más fácil que nunca. Registre su vehículo en minutos, cree anuncios atractivos con fotos de alta calidad y llegue a una audiencia global de compradores interesados.</p>
            
              <p>💡 Nuestra aplicación te ofrece herramientas poderosas para destacar las características únicas de tu automóvil y presentarlo de la mejor manera posible. ¡Maximiza su valor y atrae a compradores potenciales con facilidad!</p>
            
                <p>🔄 Actualiza y gestiona tu anuncio en tiempo real para reflejar cualquier cambio. Además, acceda a estadísticas detalladas que le ayudarán a entender el interés de los compradores y ajustar su estrategia de venta.</p>
            
                  <p>💸 ¡Y aquí viene lo mejor! Con nuestra aplicación, evita las complicaciones y el papeleo innecesario. Facilitamos el proceso de venta para que puedas obtener el mejor precio por tu vehículo de manera rápida y segura.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
       
      </mat-card>
</div>
<br>
<br>
<p>:::</p>
