.mat-card {
    background: rgb(156, 157, 235);
    color: rgba(0,0,0,.87);
    max-width: 400px;
    text-align: -webkit-center;
    top: 10%;
    margin-left: 33%
}
.mat-form-full{
    width:100%;
}
.mat-raised-button {
    width: -webkit-fill-available;
}

#forget{
    font-weight: 100;
    color: blue;
}

.outer{
    height: 100vh;
    background: white;
}
.mat-form{
    text-align-last: start;
}
.point{
    cursor: pointer;
}
.text-danger{
    color: crimson;
}