<mat-toolbar color="accent" class="example-toolbar"*ngIf="usuario">
  <button mat-icon-button (click)="drawer.toggle()" >
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    <mat-icon *ngIf="drawer.opened">close</mat-icon>
  </button>
  <h1>Bienvenido! {{name}} id {{idname}}</h1>
  <button mat-raised-button (click)="logOut()" *ngIf="usuario">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
  <mat-menu #menu="matMenu">
 
  </mat-menu>
  
</mat-toolbar>

<mat-drawer-container class="example-sidenav-content" autosize >
  <mat-drawer #drawer style="width: 200px" mode="side" >
    <div *ngIf="usuario">
      
        <img class="circular--square" src={{imagen}} width="128" style="margin-left: 20px;" />
      
      <div *ngIf="imagen === null">
        <img class="circular--square" src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" width="128" style="margin-left: 20px;">
      </div>
        <mat-divider></mat-divider>
    <ng-container *ngIf="role==='administrador'">
    <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/Usuarios']">
      <mat-icon>search</mat-icon>
      <span>Usuarios</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/AprovarAutos']">
      <mat-icon>search</mat-icon>
      <span>Ofertas</span>
    </button>
  </ng-container>
    
    <ng-container *ngIf="role==='vendedor'">
    <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/Inicio']">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/AgregarAuto']">
      <mat-icon>home</mat-icon>
      <span>vender Auto</span>
    </button>
  </ng-container>
    <mat-divider></mat-divider>
    <ng-container *ngIf="role==='comprador'">
    <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/Autos']">
      <mat-icon>cars</mat-icon>
      <span>Ver Autos</span>
    </button>
  </ng-container>
    <mat-divider></mat-divider>
  </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
    
  </mat-drawer-container>